body {
  margin: 0;
  padding: 0;
  background-image: url(https://static.vecteezy.com/system/resources/previews/011/332/525/non_2x/hand-drawn-coffee-concept-background-free-vector.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  font-size: larger;
}
h3,
h4 {
  margin: 40px;
}

.menu-con,
h4 {
  padding: 25px;
}
.content {
  margin: 40px;
  background-color: hsla(30, 100%, 50%, 0.3);
  text-align: center;
  color: rgb(255, 225, 225);
}
.hero {
  padding: 15px 20px;
}
.story {
  padding: 25px;
  background: rgba(255, 255, 255, 0.1);
}
.menu-con {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 45px;
  max-width: 1100px;
  margin: auto;
  align-items: stretch;
}

.Menu-Coffee {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 15px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  min-height: 350px;
  height: 100%;
}

.coffee-img {
  height: 300px;
  width: 300px;
  object-fit: cover;
  flex-shrink: 0;
}

.text-con {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 20px;
  flex-grow: 1;
}
