body {
  margin: 0;
  padding: 0;
  background-image: url(https://static.vecteezy.com/system/resources/previews/011/332/525/non_2x/hand-drawn-coffee-concept-background-free-vector.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
.content {
  margin: 40px;
  background-color: hsla(30, 100%, 50%, 0.3);
  text-align: center;
  color: rgb(240, 210, 210);
}
.hero {
  position: relative;
  text-align: center;
}

li {
  list-style: none;
  padding: 5px;
}
